<div class="flex-1 p-6 max-w-5xl">
  <div class="bg-white rounded-lg shadow-lg p-4 ml-auto">
    <h2 class="text-2xl font-bold mb-4">Create Trip</h2>
    <form [formGroup]="userForm" (submit)="onSubmit()">
      <div class="grid grid-cols-2 gap-4 mb-4">
        <div>
          <label
            class="block text-gray-700 text-sm font-medium mb-2"
            for="clientName"
            >Client Name</label
          >
          <input
            class="border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="clientName"
            type="text"
            placeholder=""
            formControlName="clientName"
          />
        </div>
        <div>
          <label
            class="block text-gray-700 text-sm font-medium mb-2"
            for="phoneNumber"
            >Phone Number</label
          >
          <input
            class="border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="phoneNumber"
            type="tel"
            placeholder=""
            formControlName="phoneNumber"
          />
        </div>
      </div>

      <div class="grid grid-cols-2 gap-4 mb-4">
        <div class="mb-4">
          <label
            class="block text-gray-700 text-sm font-medium mb-2"
            for="cellNumber"
            >Cell Number</label
          >
          <input
            class="border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="cellNumber"
            type="tel"
            placeholder=""
            formControlName="cellNumber"
          />
        </div>

        <div class="mb-4">
          <label
            class="block text-gray-700 text-sm font-medium mb-2"
            for="tripId"
            >Trip ID</label
          >
          <input
            class="border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="tripId"
            type="text"
            placeholder=""
            formControlName="tripID"
          />
        </div>
      </div>

      <div class="mb-4">
        <label
          class="block text-gray-700 text-sm font-medium mb-2"
          for="pickupAddress"
          >Pickup Address</label
        >
        <input
          class="border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="pickupAddress"
          type="text"
          placeholder="Enter pickup address"
          formControlName="pickupAddress"
          appPlaces
          (addressSelected)="onAddressSelected($event)"
        />
      </div>

      <div class="mb-4">
        <label
          class="block text-gray-700 text-sm font-medium mb-2"
          for="dropOffAddress"
          >Drop-off Address</label
        >
        <input
          class="border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="dropOffAddress"
          type="text"
          placeholder="Enter drop-off address"
          formControlName="dropOffAddress"
        />
      </div>

      <div class="grid grid-cols-3 gap-4 mb-4">
        <div class="mb-4">
          <label
            class="block text-gray-700 text-sm font-medium mb-2"
            for="state"
            >State</label
          >
          <input
            class="border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="state"
            type="text"
            placeholder=""
            formControlName="state"
          />
        </div>

        <div class="mb-4">
          <label
            class="block text-gray-700 text-sm font-medium mb-2"
            for="miles"
            >Miles</label
          >
          <input
            class="border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="miles"
            type="text"
            placeholder=""
            formControlName="miles"
          />
        </div>

        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-medium mb-2" for="csr"
            >CSR</label
          >
          <div class="flex justify-between">
            <div class="relative w-full">
              <div
                class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="gray"
                  class="w-6 h-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v12m-3-2.818l.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                  />
                </svg>
              </div>
              <input
                class="border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline pl-10"
                id="csr"
                type="text"
                placeholder=""
                formControlName="csr"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="mb-4">
        <label
          class="block text-gray-700 text-sm font-medium mb-2"
          for="companyNotes"
          >Company Notes</label
        >
        <textarea
          class="border border-gray-300 rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="companyNotes"
          cols="50"
          rows="7"
          type="text"
          placeholder=""
          formControlName="companyNotes"
        ></textarea>
      </div>

      <div
        class="grid sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-4"
      >
        <div
          [class.btn-white]="selectedVehicleType !== 'Standard'"
          [class.bg-indigo-400]="selectedVehicleType === 'Standard'"
          (click)="onVehicleTypeSelected('Standard')"
          class="justify-start hover:bg-indigo-400 cursor-pointer"
        >
          <div class="flex items-center gap-2 hover:text-white">
            <img
              src="../../../assets/images/standard.png"
              alt=""
              class="h-12 w-16 object-scale-down"
              style="width: 64px; height: 48px"
            />
            <div class="text-sm font-medium" style="min-width: 5rem">
              Standard
            </div>
          </div>
        </div>
        <div
          [class.btn-white]="selectedVehicleType !== 'Premium'"
          [class.bg-indigo-400]="selectedVehicleType === 'Premium'"
          (click)="onVehicleTypeSelected('Premium')"
          class="justify-start hover:bg-indigo-400 cursor-pointer"
        >
          <div class="flex items-center gap-2 hover:text-white">
            <img
              src="../../../assets/images/premium.png"
              alt=""
              class="h-12 w-16 object-scale-down"
              style="width: 64px; height: 48px"
            />
            <div class="text-sm font-medium" style="min-width: 5rem">
              Premium
            </div>
          </div>
        </div>
        <div
          [class.btn-white]="selectedVehicleType !== 'Liv'"
          [class.bg-indigo-400]="selectedVehicleType === 'Liv'"
          (click)="onVehicleTypeSelected('Liv')"
          class="justify-start hover:bg-indigo-400 cursor-pointer"
        >
          <div class="flex items-center gap-2 hover:text-white">
            <img
              src="../../../assets/images/suv.png"
              alt=""
              class="h-12 w-16 object-scale-down"
              style="width: 64px; height: 48px"
            />
            <div class="text-sm font-medium" style="min-width: 5rem">Liv</div>
          </div>
        </div>
        <div
          [class.btn-white]="selectedVehicleType !== 'WAV'"
          [class.bg-indigo-400]="selectedVehicleType === 'WAV'"
          (click)="onVehicleTypeSelected('WAV')"
          class="justify-start hover:bg-indigo-400 cursor-pointer"
        >
          <div class="flex items-center gap-2 hover:text-white">
            <img
              src="../../../assets/images/wav.png"
              alt=""
              class="h-12 w-16 object-scale-down"
              style="width: 64px; height: 48px"
            />
            <div class="text-sm font-medium" style="min-width: 5rem">WAV</div>
          </div>
        </div>
      </div>

      <div class="flex items-center justify-end">
        <button class="btn-primary" type="submit">
          {{ documentId ? "Edit" : "Create" }}
        </button>
      </div>
    </form>
  </div>
</div>
