<div class="flex-1 p-6 max-w-5xl">
  <div class="bg-white rounded-lg shadow-lg p-4 ml-auto">
    <h2 class="text-2xl font-bold mb-4">Create Trip</h2>
    <form [formGroup]="userForm" (submit)="onSubmit()">
      <div class="grid grid-cols-2 gap-4 mb-4">
        <div>
          <label
            class="block text-gray-700 text-sm font-medium mb-2"
            for="clientName"
            >Client Name</label
          >
          <input
            class="border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="clientName"
            type="text"
            placeholder="Enter client name"
            formControlName="clientName"
          />
        </div>
        <div>
          <label
            class="block text-gray-700 text-sm font-medium mb-2"
            for="phoneNumber"
            >Phone Number</label
          >
          <input
            class="border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="phoneNumber"
            type="tel"
            placeholder="Enter phone number"
            formControlName="phoneNumber"
          />
        </div>
      </div>

      <div class="grid grid-cols-2 gap-4 mb-4">
        <div class="mb-4">
          <label
            class="block text-gray-700 text-sm font-medium mb-2"
            for="cellNumber"
            >Cell Number</label
          >
          <input
            class="border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="cellNumber"
            type="tel"
            placeholder="Enter cell number"
            formControlName="cellNumber"
          />
        </div>

        <div class="mb-4">
          <label
            class="block text-gray-700 text-sm font-medium mb-2"
            for="tripId"
            >Trip ID</label
          >
          <input
            class="border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="tripId"
            type="text"
            placeholder="Enter trip ID"
            formControlName="tripID"
          />
        </div>
      </div>

      <div class="mb-4">
        <label
          class="block text-gray-700 text-sm font-medium mb-2"
          for="pickupAddress"
          >Pickup Address</label
        >
        <input
          class="border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="pickupAddress"
          type="text"
          placeholder="Enter pickup address"
          formControlName="pickupAddress"
        />
      </div>

      <div class="mb-4">
        <label
          class="block text-gray-700 text-sm font-medium mb-2"
          for="dropOffAddress"
          >Drop-off Address</label
        >
        <input
          class="border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="dropOffAddress"
          type="text"
          placeholder="Enter drop-off address"
          formControlName="dropOffAddress"
        />
      </div>

      <div class="grid grid-cols-3 gap-4 mb-4">
        <div class="mb-4">
          <label
            class="block text-gray-700 text-sm font-medium mb-2"
            for="state"
            >State</label
          >
          <input
            class="border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="state"
            type="text"
            placeholder="--State--"
            formControlName="state"
          />
        </div>

        <div class="mb-4">
          <label
            class="block text-gray-700 text-sm font-medium mb-2"
            for="miles"
            >Miles</label
          >
          <input
            class="border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="miles"
            type="text"
            placeholder="mi"
            formControlName="miles"
          />
        </div>

        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-medium mb-2" for="csr"
            >Customer Special Rate</label
          >
          <input
            class="border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="csr"
            type="text"
            placeholder="CSR"
            formControlName="csr"
          />
        </div>
      </div>

      <div class="mb-4">
        <label
          class="block text-gray-700 text-sm font-medium mb-2"
          for="companyNotes"
          >Company Notes</label
        >
        <textarea
          class="border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="companyNotes"
          type="text"
          placeholder=""
          formControlName="companyNotes"
        ></textarea>
      </div>

      <div
        class="grid sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-4"
      >
        <div class="btn-white justify-start">
          <div class="flex items-center gap-2">
            <img
              src="../../../assets/images/standard.png"
              alt=""
              class="h-12 w-16 object-scale-down"
            />
            <div class="text-sm font-medium">Standard</div>
          </div>
        </div>
        <div class="btn-white justify-start">
          <div class="flex items-center gap-2">
            <img
              src="../../../assets/images/premium.png"
              alt=""
              class="h-12 w-16 object-scale-down"
            />
            <div class="text-sm font-medium">Premium</div>
          </div>
        </div>
        <div class="btn-white justify-start">
          <div class="flex items-center gap-2">
            <img
              src="../../../assets/images/suv.png"
              alt=""
              class="h-12 w-16 object-scale-down"
            />
            <div class="text-sm font-medium">Liv</div>
          </div>
        </div>
        <div class="btn-white justify-start">
          <div class="flex items-center gap-2">
            <img
              src="../../../assets/images/wav.png"
              alt=""
              class="h-12 w-16 object-scale-down"
            />
            <div class="text-sm font-medium">WAV</div>
          </div>
        </div>
      </div>

      <div class="flex items-center justify-end">
        <button class="btn-primary" type="submit">
          {{ documentId ? "Edit" : "Create" }}
        </button>
      </div>
    </form>
  </div>
</div>
