<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">
<div class="flex">
    <div class="w-1/12 bg-blue-500">
    <nav class="p-2">
        <label for="medfast" class="text-white font-bold text-lg">MedFastCab</label>
        <div class="bg-gray-300 h-px my-4"></div>

        <ul class="space-y-4">
        <li><a href="#" class="text-white font-bold text-lg">Create</a></li>
        <li><a href="#" class="text-white font-bold text-lg">Trips</a></li>
        </ul>
    </nav>
    </div>

    <div class="flex-1 p-6">
    <div class="bg-white rounded-lg shadow-lg p-4 ml-auto">
        <h2 class="text-2xl font-bold mb-4">Create Trip</h2>
        <form [formGroup]="userForm" (submit)="onSubmit()">
        <div class="grid grid-cols-2 gap-4 mb-4">
            <div>
            <label class="block text-gray-700 text-sm font-bold mb-2" for="clientName">Client Name</label>
            <input class="border border-gray-400 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="clientName" type="text" placeholder="Enter client name" formControlName="clientName">
            </div>
            <div>
            <label class="block text-gray-700 text-sm font-bold mb-2" for="phoneNumber">Phone Number</label>
            <input class="border border-gray-400 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="phoneNumber" type="tel" placeholder="Enter phone number" formControlName="phoneNumber">
            </div>
        </div>

        <div class="grid grid-cols-2 gap-4 mb-4">
            <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="cellNumber">Cell Number</label>
            <input class="border border-gray-400 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="cellNumber" type="tel" placeholder="Enter cell number" formControlName="cellNumber">
            </div>

            <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="tripId">Trip ID</label>
            <input class="border border-gray-400 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="tripId" type="text" placeholder="Enter trip ID" formControlName="tripID">
            </div>
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="pickupAddress">Pickup Address</label>
            <input class="border border-gray-400 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="pickupAddress" type="text" placeholder="Enter pickup address" formControlName="pickupAddress">
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="dropOffAddress">Drop-off Address</label>
            <input class="border border-gray-400 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="dropOffAddress" type="text" placeholder="Enter drop-off address" formControlName="dropOffAddress">
        </div>

        <div class="grid grid-cols-3 gap-4 mb-4">
            <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="state">State</label>
            <input class="border border-gray-400 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="state" type="text" placeholder="--State--" formControlName="state">
            </div>

            <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="miles">Miles</label>
            <input class="border border-gray-400 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="miles" type="text" placeholder="--Miles--" formControlName="miles">
            </div>

            <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="csr">Customer Special Rate</label>
            <input class="border border-gray-400 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="csr" type="text" placeholder="Customer Special Rate" formControlName="csr">
            </div>
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="companyNotes">Company Notes</label>
            <textarea class="border border-gray-400 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="companyNotes" type="text" placeholder="" formControlName="companyNotes"></textarea>
        </div>

        <div class="grid grid-cols-4 gap-4 mb-4">
            <div class="mb-4">
            <input class="form-radio h-4 w-4 text-blue-500" type="radio" name="serviceType" id="amb" value="AMB">
            <label class="inline-block text-gray-700 text-sm font-bold ml-2" for="amb">AMB</label>
            </div>

            <div class="mb-4">
            <input class="form-radio h-4 w-4 text-blue-500" type="radio" name="serviceType" id="liv" value="LIV">
            <label class="inline-block text-gray-700 text-sm font-bold ml-2" for="liv">LIV</label>
            </div>

            <div class="mb-4">
            <input class="form-radio h-4 w-4 text-blue-500" type="radio" name="serviceType" id="premium" value="PREMIUM">
            <label class="inline-block text-gray-700 text-sm font-bold ml-2" for="premium">PREMIUM</label>
            </div>

            <div class="mb-4">
            <input class="form-radio h-4 w-4 text-blue-500" type="radio" name="serviceType" id="stretcher" value="STRETCHER">
            <label class="inline-block text-gray-700 text-sm font-bold ml-2" for="stretcher">STRETCHER</label>
            </div>
        </div>

        <div class="flex items-center justify-end">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Create</button>
        </div>
        </form>
    </div>
    </div>

    <div class="flex-1"></div>
</div>
</body>

</html>
