<!-- Narrow sidebar -->
<div
  class="hidden h-full w-28 overflow-y-auto bg-indigo-900 lg:block border-r border-gray-200"
>
  <div class="flex w-full flex-col items-center py-6">
    <div class="flex flex-shrink-0 items-center">
      <img
        class="h-8 w-auto"
        src="https://nemtpanel.com/assets/images/nemt-logo-panel.png"
        alt="Your Company"
      />
    </div>
    <div class="mt-6 w-full flex-1 space-y-1 px-2">
      <!-- Current: "bg-nav-light text-nav-light", Default: "text-nav-dark hover:bg-nav-light hover:text-nav-light" -->
      <a
        routerLink="/Trip/List"
        [routerLink]="isTripDetailsActive ? '/Trip/List' : ''"
        [routerLinkActive]="['bg-indigo-800', '']"
        class="text-white group w-full p-3 rounded-md flex flex-col items-center text-xs font-medium"
      >
        <!--
              Heroicon name: outline/home
  
              Current: "text-nav-light", Default: "text-nav-svg-dark group-hover:text-nav-light"
            -->
        <svg
          class="h-6 w-6"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 15 15"
        >
          <path
            fill="none"
            stroke="currentColor"
            d="M3.5 0v8.5m0 0a2 2 0 1 0 0 4m0-4a2 2 0 1 1 0 4m0 0V15m8-15v2.5m0 0a2 2 0 1 0 0 4m0-4a2 2 0 1 1 0 4m0 0V15"
          />
        </svg>
        <span class="mt-2">Trip details</span>
      </a>
      <div class="">
        <a
          routerLink="/Trip/Create"
          [routerLink]="isTripDetailsActive ? '/Trip/Create' : ''"
          [routerLinkActive]="['bg-indigo-800', '']"
          class="text-white group w-full p-3 rounded-md flex flex-col items-center text-xs font-medium"
        >
          <!--
            Heroicon name: outline/home

            Current: "text-nav-light", Default: "text-nav-svg-dark group-hover:text-nav-light"
          -->
          <svg
            class="h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 15 15"
          >
            <path
              fill="currentColor"
              fill-rule="evenodd"
              d="M7 7V1h1v6h6v1H8v6H7V8H1V7h6Z"
              clip-rule="evenodd"
            />
          </svg>
          <span class="mt-2"> Create</span>
        </a>
      </div>
    </div>
  </div>
</div>
