<div class="overflow-y-auto">
  <div class="divide-y divide-main-dark/10">
    <div
      class="grid max-w-7xl grid-cols-1 gap-x-8 gap-y-10 px-4 py-16 sm:px-6 md:grid-cols-3 lg:px-8"
    >
      <div>
        <h2 class="text-base font-semibold leading-7 text-main-dark">
          USER Information
        </h2>
      </div>
      <div class="md:col-span-2">
        <div
          class="grid grid-cols-1 gap-x-6 gap-y-8 sm:max-w-xl sm:grid-cols-6"
        >
          <div class="flex flex-col col-span-full">
            <div class="flex items-center gap-x-8">
              Image here
              <div>
                <button class="btn-primary">Upload</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
